<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="container-fluid">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main class="back-index">
    <div>

        <h1>Welcome to my Java Task application!!!</h1>

        <th:block th:if="${successMessage} != null">
            <div class="welcome"><p th:text="'Successfully adding: ' + ${successMessage}"></div>
        </th:block>
    </div>
</main>


</body>
</html>