<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<link rel="stylesheet" href="/css/allDestinations.css">

<body class="container-fluid">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main>
    <div class="container-fluid">
        <div id="welcome" class="row justify-content-center mt-2">
            <h1 class="text-center welcome"><em>Welcome to а Fishing Adventures,
                [[*{#authentication.getPrincipal().getUsername()}]]!</em>
            </h1>
        </div>
        <div id="top-five-table" class="row justify-content-center mt-2">
            <form id="myForm" th:action="@{/home}" method="get">
                <fieldset class="form-group">
                    <div class="row">
                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioBtn" id="gridRadios1"
                                       value="destinations">
                                <label class="form-check-label label-color h4 font-italic" for="gridRadios1">Top 5
                                    Fishing
                                    Destinations</label>
                            </div>
                            <br/>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="radioBtn" id="gridRadios2"
                                       value="fishings">
                                <label class="form-check-label label-color h4 font-italic" for="gridRadios2">Top 5
                                    Successful
                                    Fishings</label>
                            </div>
                            <br/>
                            <div class="form-check disabled">
                                <input class="form-check-input" type="radio" name="radioBtn" id="gridRadios3"
                                       value="fishes">
                                <label class="form-check-label label-color h4 font-italic" for="gridRadios3">Top 5 Big
                                    Fishes</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="top-five">

        </div>
    </div>
</main>

<footer>
    <th:block th:include="~{fragments/footer}"/>
</footer>

<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/topFive.js"></script>

</body>
</html>