<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:include="~{fragments/head}"/>
</head>

<body class="container-fluid">

<header>
    <th:block th:include="~{fragments/navbar}"/>
</header>

<main class="back-index">
    <div class="container-fluid text-center">

        <h1 class="text-primary p-4">Java Candidate Task application!</h1>

        <th:block th:if="${successInsertMessage} != null">
            <div class="text-success h3"><p th:text="'Successfully added: ' + ${successInsertMessage}"></div>
        </th:block>

        <th:block th:if="${successEditMessage} != null">
            <div class="text-success h3"><p th:text="'Successfully edited: ' + ${successEditMessage}"></div>
        </th:block>

        <th:block th:if="${successDeleteMessage} != null">
            <div class="text-success h3"><p th:text="'Successfully deleted: ' + ${successDeleteMessage}"></div>
        </th:block>

        <th:block th:switch="${successfulSeedTables}">
            <div th:case="true" class="text-success h3"><p th:text="'Successfully Seeded People, Mails, and Addresses! Seed must be only once!'">
            </div>
            <div th:case="false" class="text-warning h3"><p
                    th:text="'People, Mails, and Addresses are already Seeded!'"></div>
        </th:block>
    </div>
</main>


</body>
</html>